<!DOCTYPE html>
<html>
<head>
	
	{% if title %}
	<title>Welcome to - {{ title }}</title>
	{% else %}
	<title> Welcome to Flask </title>
	{% endif %}

</head>
<body>
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-8">
				{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
				{% for category, message in messages %}
				<div class="alert alert-{{ category }}">
					{{ message }}
				</div>
				{% endfor %}
				{% endif %}
				{% endwith %}
				{% block title %}{% endblock %}
			</div>
		</div>
	</main>

	</body>
	</html>   	