{% extends "layout.html" %}
{% block title %}
    <div class="">
        <div class="form-part">
            <form id="password_form" action="{{ url_for('reset_password') }}" method="post">
                <div class="control-group">
                    <label class="control-label" for="openid">Enter OTP</label>

                    <div class="controls">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="text" pattern="[0-9]{1,4}" minlength="4" maxlength="4" id="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" name="otp" required >
                        </div>

                    </div>
                </div>
                <div class="control-group">
                        <label class="control-label" for="openid">New Password</label>

                        <div class="controls">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" id="pass" name='password'required>
                            </div>

                        </div>
                    </div>

                <div class="control-group">
                    <div class="controls row">
                        <br>
                        <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block signin-btn">Reset Password</button>
                                <input type="button" class="btn btn-primary btn-block signin-btn" value="Back" onClick="history.go(-1);return true;">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

{% endblock  %} 